<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Facility List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
<div class="container-fluid">
  <div class="p-3">
    <h2 class="text-center fw-bold text-info" style="font-size: xxx-large">FACILITY LIST</h2>

    <div class="notify" style="text-align: center; color: red">
      <div th:if="${message}">
        <span th:text="${message}"></span>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg pb-0 mb-0">
      <div class="container-fluid " >
        <a th:href="@{/facility/create}">
          <button class="btn btn-primary btn-outline-secondary btn-sm">
            <span class=" far fa-building text-light h5 my-auto me-1"></span>
            <span class="text-light"> Add new Facility</span>
          </button>
        </a>

        <div>
          <form action="/facility">
            <input style="width: 30%" type="text" name="nameSearch" th:value="${searchName}"
                   placeholder="Input name..."/>
            <select name="facilityType">
              <option value="" selected>All Type</option>
              <option th:each="item: ${facilityType}"
                      th:value="${item.id}"
                      th:text="${item.name}">
              </option>
            </select>
            <input class="btn btn-primary" type="submit" value="Search">
          </form>
        </div>
      </div>
    </nav>

    <table class="table table-striped table-bordered" id="facilityTable">
      <thead>
      <tr class="text-center bg-success">
        <th>STT</th>
        <th>Name</th>
        <th>Area</th>
        <th>Cost</th>
        <th>Max people</th>
        <th>Description</th>
        <th>Standard room</th>
        <th>Floor</th>
        <th>Type of rent</th>
        <th>Type of facility</th>
        <th>Update</th>
        <th>Delete</th>
        <th>View</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="facility, status : ${facilityPage}">
        <td th:text="${facilityPage.getSize()*facilityPage.number+status.count}"></td>
        <td th:text="${facility.name}"></td>
        <td th:text="${facility.area}"></td>
        <td th:text="${facility.cost}"></td>
        <td th:text="${facility.maxPeople}"></td>
        <td th:text="${facility.descriptionOtherConvenience}"></td>
        <td th:text="${facility.standardRoom}"></td>
        <td th:text="${facility.numberOfFloors}"></td>
        <td th:text="${facility.rentType.name}"></td>
        <td th:text="${facility.facilityType.name}"></td>
        <td class="text-center">
          <a th:href="@{/facility/edit/__${facility.id}__}">
            <span class="text-warning"><i class=" far fa-edit"></i></span>
          </a>
        </td>
        <td class="text-center">
          <a data-bs-toggle="modal" data-bs-target="#deleteFacility"
             th:attr="onclick=|remove('${facility.id}', '${facility.name}')|">
            <span class="text-danger"><i class="fa-solid fa-trash-can"></i></span>
          </a>
        </td>
        <td class="text-center">
          <a th:attr="onclick=|details('${facility.name}', '${facility.area}',
                '${facility.cost}', '${facility.maxPeople}', '${facility.standardRoom}',
                '${facility.descriptionOtherConvenience}', '${facility.poolArea}', '${facility.numberOfFloors}', '${facility.facilityFree}',
                '${facility.rentType.name}', '${facility.facilityType.name}')|"
             data-bs-toggle="modal" data-bs-target="#viewFacility">
            <span class="text-success"><i class="fa-solid fa-eye"></i></span>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>

