<!DOCTYPE html>
<html lang="en">
<header>
  <title>Navigation</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</header>
<body>
<div class="menu-bar">
  <ul>
    <li class="active"><a href="#"><i class="fa fa-home"></i>Home</a></li>
    <li><a href="#"><i class="fa fa-user"></i>About us</a>
      <div class="sub-menu-1">
        <ul>
          <li><a href="#">Manuafacture</a></li>
          <li><a href="#">History</a></li>
          <li><a href="#">Location</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#"><i class="fa fa-inr"></i>Customer</a>
      <div class="sub-menu-1">
        <ul>
          <li><a href="#">List</a></li>
          <li><a href="#">Create</a></li>
          <li><a href="#">Edit</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#"><i class="fa fa-clone"></i>Facility</a>
      <div class="sub-menu-1">
        <ul>
          <li><a href="#">List</a></li>
          <li><a href="#">Create</a></li>
          <li><a href="#">Edit</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#"><i class="fa fa-edit"></i>Contract</a>
      <div class="sub-menu-1">
        <ul>
          <li><a href="#">List</a></li>
          <li><a href="#">Create</a></li>
          <li><a href="#">Edit</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#"><i class="fa fa-phone"></i>Contact</a>
      <div class="sub-menu-1">
        <ul>
          <li><a href="#">Phone</a></li>
          <li><a href="#">Email</a></li>
          <li><a href="#">Address</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#"><i class="fa fa-right-to-bracket"></i>Login</a></li>
  </ul>
</div>
</body>
</html>
